@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 97, 26, 16;
  --background-end-rgb: 249, 180, 124;
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    background-image: url('/container1-bg.png');
    background-size: cover;
  max-width: 90%;
  margin: 0 auto;
  display: flex; /* Flexbox modelini kullan */
  flex-direction: column; /* İçerikleri dikey olarak hizala */
  min-height: 100vh;
}

body, button, input, textarea, select {
  font-family: 'Jost', sans-serif !important;
}

.main-container {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  flex-grow: 1;
}

/* Ana konteyner için stil */
.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Horizontally centers the content */
  align-items: flex-start; /* Vertically aligns the content at the top */
  gap: 1rem; /* Adds gap between items */
  margin-top: 1rem;
}

.content-container::after {
  content: "";
  flex: auto;
}

/* Adjust the main container to align items at the start */
main.flex {
  justify-content: flex-start; /* Align content to the start */
  gap: 1rem; /* Add some gap between items */
}

.header-container {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between; /* Logo ve menüyü ayrı tutacak */
  align-items: center;
  width: 100%; /* Tam genişlik sağlar */
  background-image: url('/container1-bg.webp');
  background-size: cover;
  border-radius: 8px;
}

.header {
font-size: x-large;
font-style:inherit;
/* font-weight:initial;*/
}

.header-menu {
  display: flex; /* Flexbox modelini etkinleştirir */
  gap: 0.75rem; /* Öğeler arasında 1rem boşluk bırakır */
  width: 100%; /* Genişliği arttır */
  margin-right: 1rem;
  font-family: "Jost", sans-serif;
}

.header-menu li {
  font-weight: 600;
  border-color: #000000; 
  color: #ffffff; 
  background-color: #972222; 
  flex-grow: 1; 
  border-radius: 1rem;
  padding: 0.5rem; /* Tüm kenarlardan 1rem boşluk */
  border-radius: 8px; /* Köşeleri yuvarlatmak için */
  padding: 10px;
  margin-left: auto;
}

.header-menu li:hover {
  font-weight: 600;
  border-color: #000000; 
  color: #ffffff; 
  background-color: #bb6e6e; 
  flex-grow: 1; 
  border-radius: 1rem;
  padding: 0.5rem; /* Tüm kenarlardan 1rem boşluk */
  border-radius: 8px; /* Köşeleri yuvarlatmak için */
  padding: 10px;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.header {
  color: #fff;
  padding: 1rem 0;
  font-size: x-large;
  font-style: inherit;
  margin-left: auto;
}

.header-logo {
  width: 100%;
  max-width: 96rem;
  display: flex;
  align-items: center;
  vertical-align: space-between;
  justify-content: space-between;
  font-family: "Jost", sans-serif;
  font-size: small;
  margin-left: 1rem;
}

.fixed-head {
  position: fixed; /* Keeps the element fixed at the bottom of the screen */
  bottom: 0;
  left: 0;
  display: flex; /* Uses flexbox for layout */
  height: 12rem; /* 48 tailwind units, assuming 1rem = 4 units */
  width: 100%; /* Full width of its container */
  align-items: flex-end; /* Aligns items to the bottom */
  justify-content: center; /* Centers items horizontally */
  background-image: linear-gradient(to top, white, white); /* Gradient background from white to white */
}


/* Large screen adjustments */
@media (min-width: 1024px) {
  .fixed-head {
    position: static; /* Resets position for large screens */
    height: auto; /* Resets height for large screens */
    background: none; /* Removes background for large screens */
  }

  .header-logo {
    display: flex;
  }
}

.flex {
  display: flex;
  align-items: center;
  gap: 1rem; /* Flexbox modelini etkinleştirir */
}

.main-flex {
  display: flex; /* Enables flexbox layout */
  flex-direction: column; /* Stacks items vertically */
  align-items: center; /* Centers items horizontally */
  justify-content: space-between; /* Distributes items evenly, with first item at start and last item at end */
  padding: 5%; /* Adds padding around the content */
  min-height: 100vh; /* Ensures the element takes up at least the full height of the viewport */
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Sütun sayısını ihtiyaca göre ayarlayın */
  gap: 20px; /* Kartlar arasındaki boşluk */
  padding: 20px 50px 50px 50px; /* Üst padding'i azaltıldı */
  width: 100%;
  max-width: 100%;
  align-items: start; /* .card öğelerini üstte sabitler */
}

.card {
  display: flex; /* Flexbox modelini etkinleştir */
  flex-direction: column; /* İçeriği dikey yönde sırala */
  min-height: 200px; /* Kartların minimum yüksekliğini belirle */
  background-color: #fff; /* Arka plan rengi */
  border-radius: 1rem; /* Kenar yuvarlaklığı */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Gölge efekti */
  flex-grow: 0;
  align-items: center;
  padding: 0;
}

/* Ekran boyutuna göre medya sorguları */
@media (max-width: 768px) {
  .card {
    min-width: 200px; /* Daha küçük ekranlar için kart genişliği */
  }

  .nft-image {
    width: 100%; /* Allows image to fill the container on smaller screens */
  }

  .card {
    min-width: 200px; /* Daha küçük ekranlar için kart genişliği */
  }
}

@media (max-width: 480px) {
  .cards-container {
    flex-direction: column; /* Çok küçük ekranlarda kartları dikey olarak istifler */
    align-items: center; /* Kartları merkeze hizalar */
  }
  .card {
    max-width: 100%; /* Kartların tam genişlik almasını sağlar */
  }
}

.card:hover {
  box-shadow: 0 50px 50px 0 rgba(0, 0, 0, 0.5), 0 1px 2px 0 rgba(0, 0, 0, 0.06); 
  transform: scale(1.01); /* İçeriği %10 büyüt */
}

.nft-image {
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  max-width: 100%; /* Ensures image does not exceed its container */
  height: auto; /* Maintains aspect ratio */
}


/* Inline style için CSS değişkeni */
:root {
  --card-flex-basis: calc(20% - 1rem);
}

h3.card-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: black;
}

.card-content {
  padding: 1%;
  font-size: 1rem;
  color: #4a5568;
  text-align: center; 
  flex-grow: 1;
}

.card-category {
  font-size: 1rem;
  font-weight: 500;
  color: black;
  background-color: #eff1f5;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  max-width: 100%;
  margin-left: 0;
  margin-right: auto;
}

.card-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.buy-btn {
  font-size: 1.25rem;
  font-weight: 500;
  background-color: #e96c2b;
  color: white;
  padding: 10px 20px;
  border: none; 
  border-radius: 0px 0px 8px 8px; 
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  box-sizing: border-box;
  height: 3rem;
  margin: 0;
}

.buy-btn:hover {
  background-color: #b64407;
}

.filters-container {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  position: sticky;
  border-radius: 8px;
  top: 90px;
  z-index: 1000;
  width: 100%;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.filter {
  transition: background-color 0.3s ease;
  color: #2a2a2a;
  font-size: 1rem;
  font-weight: 500;
  color: fff;
  text-align: left;
  padding: 8px;
  max-width: 100%;
  padding: 1rem;
}

.filter-rarity {
  font-size: 1rem;
  font-weight: 500;
  color: #2a2a2a;
  background-color: #fff;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  max-width: 100%;
  padding: 0.5rem;
  margin: 0.3rem;
}

.filter-rarity:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.search-box input[type="search"] {
  color: #2a2a2a;
  padding: 8px;
  margin-right: 1rem;
  margin-left: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-box input[type="search"]:focus {
  border-color: #e96c2b;
  box-shadow: 0 4px 6px rgba(233, 108, 43, 0.5);
  outline: none;
}

.footer {
  max-height: fit-content;
  text-align: center;
  padding: 1rem;
  font-size: 1rem;}
  

    .footer a {
      display: inline-block; 
      border-radius: 0.4rem; 
      transition: all 0.3s ease;
    }
    
    .footer a:hover {
      border-color: #000000; 
      padding: 0.2rem;
      background-color: #f56565; 
      color: #ffffff; 
    }

    .container1-home {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 1rem;
      background-color: rgba(0, 0, 0, 0.5); /* changed from #000000 to rgba */
      height: 50vh;
      line-height: 5rem;
      margin-top: 1rem;
    }

    .container1-mint {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 1rem;
      background-color: rgba(0, 0, 0, 0.5); /* changed from #000000 to rgba */
      height: 100%;
      line-height: 5rem;
      margin-top: 1rem;
    }
    
    .left1 {
      flex: 1; /* Take up equal width */
      max-width: 50%; /* Maximum width */
      align-items: center;
    }

    .left1 h2 {
      -webkit-text-fill-color: transparent;
      -webkit-font-smoothing: antialiased;
      text-align: center;
      background: linear-gradient(263.59deg, #faf3f3, #c9766f  99.38%);
      -webkit-background-clip: text;
      background-clip: text;
      font-size: 4.5vw;
      font-family: "Jost", sans-serif;
      font-weight: 600;
    } 
    
    .right1 {
      flex: 1; /* Take up equal width */
      max-width: 50%; /* Maximum width */
      align-items: center;
    }

    .intro-rock {
      align-items: center;
      max-height: 20rem;
      margin-left: 10rem;
    }

    .slogan-container {
      -webkit-text-fill-color: transparent;
      -webkit-font-smoothing: antialiased;
      text-align: center;
      background: linear-gradient(263.59deg, #b11111, #fc5e49  99.38%);
      -webkit-background-clip: text;
      background-clip: text;
      font-size: 5vw;
      font-family: "Jost", sans-serif;
      font-weight: 300;
      line-height: 5rem;
      margin-top: 4rem;
  }

  .rock1 {
    font-weight: 600;
    font-size: 5vw;
    font-family: "Jost", sans-serif;
    -webkit-font-smoothing: antialiased;
  }

  .rock2 {
    background: linear-gradient(263.59deg, #b11111, #fc5e49  99.38%);
    font-family: "Jost", sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-background-clip: text;
    font-size: 5vw;
    font-weight: 700;
  }

  .container2 {
    grid-template-columns: repeat(3, 1fr); /* Sütun sayısını ihtiyaca göre ayarlayın */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    margin-top: 1rem;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5); /* changed from #000000 to rgba */
  }

  .c2-left,
  .c2-middle,
  .c2-right {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    margin-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
    line-height: 2rem;
    margin-bottom: 5rem;
    width: 45rem;
  }
  
  .c2-left {
    background-image: url('/rock1.png');
    margin-left: 13rem;
  }

  .l-m-text1 {
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    background: linear-gradient(163.59deg, #ffffff, #d8d6d5  99.38%);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: xx-large;
    font-family: "Jost", sans-serif;
    font-weight: 600;
  }


  .c2-middle {
    background-image: url('/rock2.png');
  }

  .l-m-text2 {
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    background: linear-gradient(163.59deg, #ffffff, #d8d6d5  99.38%);
    font-family: "Jost", sans-serif;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: xx-large;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
  }

  .c2-right {
    background-image: url('/rock3.png');
    margin-right: 14rem;
  }

  .l-m-text3 {
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    background: linear-gradient(163.59deg, #ffffff, #d8d6d5  99.38%);
    font-family: "Jost", sans-serif;
    background-clip: text;
    font-size: xx-large;
    font-weight: 600;
  }

  .mint-left1 {
    flex: 1;
    max-width: 50%;
    align-items: center;
    border-radius: 8px;
    background-color: #000000;
    background-image: url('/cass.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 35rem;
    padding: 5rem;
    margin: 5rem;
  }

  .left1 h2 {
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    background: linear-gradient(263.59deg, #faf3f3, #c9766f  99.38%);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 4.5vw;
    font-family: "Jost", sans-serif;
    font-weight: 600;
  } 
  
  .mint-right1 {
    display: flex;
    flex-direction:column;
    width: 40%;
    height: 80%;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 5rem;
}

/* mint-right1 sınıfına sahip div içindeki doğrudan çocukların dikey boşluklarını azalt */
.mint-right1 > * {
  margin-top: 0px; /* Üstteki boşluğu azalt */
  margin-bottom: -15px; /* Altındaki boşluğu azalt */
}

/* Alternatif olarak, tüm çocuk öğeleri hedef al */
.mint-right1 * {
  padding-top: 0px; /* Üstteki padding'i azalt */
  padding-bottom: 0px; /* Altındaki padding'i azalt */
}

  .mint-left1 h2 {
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    background: linear-gradient(263.59deg, #faf3f3, #c9766f  99.38%);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 4.5vw;
    font-family: "Jost", sans-serif;
    font-weight: 600;
  }

  .public-mint {
    text-align: center;
    font-size: 2vw;
    font-family: "Jost", sans-serif;
    font-weight: 600;
  } 

  .success {
    display: inline-block; 
    max-height: fit-content;
    text-align: center;
    font-size: 3rem;
    border-radius: 1rem;
    background-color: rgba(117, 9, 240, 0.5);
    font-weight: 600;
    padding: 2px 4px; /* Üst-alt ve sağ-sol padding değerlerini azaltın */
    line-height: 1.2;
  } 

  .max-wallet {
    border-style: solid; /* Adds a border */
    border-color:#000000;
    border-radius: 2rem; /* Rounds the corners to make it pill-shaped */
    display: inline-block; /* Allows the element to sit inline but respects padding and margins */
    padding: 0 1rem; /* Adds padding on the left and right */
    text-transform: uppercase; /* Converts text to uppercase */
    color: #f8f9fa; /* Light colored text */
    background-color: #4a5568;
    max-width: fit-content;
  }


  /* Styles the container that holds the price information */
.price-container {
  display: flex; /* Ensures the elements are laid out in a row */
  justify-content: center; /* Centers the items horizontally for small screens */
  justify-content: start; /* Aligns items to the start for larger screens */
  margin-bottom: 1rem; /* Adds some space below the container */
}

/* Styles for larger screens */
@media (min-width: 992px) {
  .price-container {
    justify-content: flex-start; /* Aligns items to the start */
  }
}

/* Styles the column that contains the price */
.pricecol {
  flex: 0 0 auto; /* Does not allow the column to grow or shrink */
  width: 33.33333%; /* Sets the width for large screens */
}

.pricecol-auto {
  flex: 0 0 auto; /* Do not grow or shrink, based on content width */
  width: auto; /* Width based on content */
}

/* Mimic Bootstrap's col-lg-4 behavior */
@media (min-width: 992px) { /* Bootstrap's 'lg' breakpoint */
  .col-lg-4 {
    flex: 0 0 33.33333%; /* Take up 4 of 12 columns */
    max-width: 33.33333%; /* Maximum width to 33.33333% of the parent */
  }
}

/* Styles the paragraph that introduces the price */
.price-text {
  color: #f8f9fa; /* Sets a light color for the text */
  margin-bottom: 0; /* Removes the bottom margin */
}

/* Styles the actual price */
.price-text2 {
  font-size: 1.75rem; /* Sets the font size */
  color: #ffffff; /* Sets the text color to white */
  font-weight: 600; /* Makes the font semi-bold */
}

/* Styles for Remaining class */
.Remaining {
  color: #f8f9fa; /* Assuming 'text-light' is a light grey */
  margin-bottom: 0; /* mb-0 class to remove bottom margin */
}

/* Styles for Remaining-no */
.Remaining-no {
  font-size: 2.5rem; /* Larger text size for 'text-7' */
  color: #ffffff; /* White text for 'text-white' */
  font-weight: 600; /* Semi-bold for 'fw-600' */
}


.mint-button {
  font-size: 1.25rem;
  font-weight: 500;
  background-color: #e96c2b;
  color: white;
  padding: 10px 20px;
  border-radius: 36px; 
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  box-sizing: border-box;
  height: 3rem;
}

.mint-button:hover {
  background-color: #b64407;
}